<div
  [class.translate-x-0]="showSidebar"
  [class.-translate-x-full]="!showSidebar"
  class="fixed left-0 top-0 w-64 h-full bg-[#eae7e7] p-4 z-50 sidebar-menu transition-transform md:block"
>
  <app-aside></app-aside>
</div>

@if(showSidebar){
<div
  class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"
  (click)="toggleSidebar()"
></div>
}

<main  [class.md:w-[calc(100%-256px)]]="showSidebar"
[class.w-full]="!showSidebar"
[class.ml-64]="showSidebar"
class="bg-gray-200 min-h-screen transition-all main overflow-hidden">
  <app-nav></app-nav>
  <!-- desde aca va mi contenido -->
   @if (item=='Dashboard' && modulo=='Dashboard') {
   <app-homedash></app-homedash>
   }
    @if (item=='Usuarios' && modulo=='Seguridad') {
    <app-usuarios></app-usuarios>
    }
    @if (item=='Perfiles' && modulo=='Seguridad') {
    <app-perfiles></app-perfiles>
    }
</main>

